__pycache__/
src/sagely/__pycache__/
src/sagely/tests/__pycache__/
.pytest_cache/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
dist/
build/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz